body{
    font-size: 1.2em;
    font-family: 'CarroisGothic';
    margin: 0px;                             /* rempllissage des des marges */
    overflow-x: hidden;
    display: flex;
    word-wrap: break-word;
}


@font-face{
    font-family: 'CarroisGothic';
    src: url('CarroisGothic-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.identité
{
    margin-top: 2%;
    margin-left: auto;
    display: block;
    margin-right: auto;
    width : 150px; height : 150px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
}
.fa-basketball-ball{
    font-size: 110%;
}
.dot-circle-dot-space{    /* espace entre icon et date*/
    padding-right: 5em;
}
.fa-circle{
    font-size: 50%;
}
.fa-circle,.fa-dot-circle,.fa-briefcase,.fa-graduation-cap,.fa-running,.fa-desktop {
    color: #ff7f27;
}
.fa-briefcase,.fa-graduation-cap,.fa-running,.fa-desktop{
    padding-right: 1em;
}

table{
    display: flex;
    border-top: solid;
    border-color: #ff7f27;
    line-height: 2em;
}
.left                                   /* presentation de gauche et Nav*/
{
    width: 25%;
    margin-left:0px;
    font-size: 1.1em;
    background-color: #ff7f27;              /* Orange */
    background: linear-gradient(90deg, #ff7f27 0%, #ffffff 100%);
}
.h2-left{
    background-color:black;              /* Orange */
    background: linear-gradient(90deg, black 0%, #ffffff 100%);
    text-align: center;
    margin-bottom: 0;
    color:white;
}
.centre{
    padding: 13%;
}
#ball-center{
    text-align: center;
}
span.name{
    font-weight: bold;
    color:  #ff7f27;
}
h1{
    font-weight: normal;
    margin-bottom: 0;
}
p.job{
    margin-top: 0;
    font-weight: bold;
}
span#decoration{
    text-decoration: underline;
    text-decoration-color: #ff7f27;
}
.grey
{
    color: #C5C0BF
}
.container
{
  text-align: justify;                      /* text qui prend toute la place*/ 
}
.Important
{
	color: #ff7f27;
}
.regular{
	font-weight: normal;
}
.xp,.diplomes,.professionnelles,.inf /* marge pour le text */ 
{

    margin-left: 0.4em;
} 
div#container {
    padding-right: 5%;
}
.social
{
    display: flex;
    justify-content: space-around;        /* espace entre les bts */
    width: 90%;
}
.fa-linkedin,.fa-facebook,.fa-instagram{  /* boite interractive */
    padding: 10px 20px;
    border: 1px solid grey;
    margin: 20px 0;
    border-radius: 25px;
    text-decoration: none;
    width: 30%;
    color: black;
}
.fa-instagram:hover{                     /* changement de couleur lors du sur-vole*/             
    background: grey;
    color: white;
    }
.fa-linkedin:hover{
    background: grey;                
    color: white;
    }
.fa-facebook:hover{
    background: grey;
    color: white;
    }    
.year{
    width: 10em;           /* espace entre Date et texte */
}     
header{
    display: none;
}